doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    title Rest Isomorphic
    link(rel='stylesheet', href='bundle.css')
  body
    block content
    script(src='bundle.js')
